<section id="stroop-section" class="d-none">

    <div id="stroop-container">
        <div id="stroop-intro">
            <h2>Bienvenido</h2>
            <p>¡Nos alegra tenerte aquí! <br>
                En este espacio encontrarás una serie de tests metacognitivos diseñados para ayudarte a conocer mejor tu
                manera de pensar y potenciar tu aprendizaje.

                Disfruta el proceso.

                Cuando estés listo/a, puedes comenzar con tu test.</p>
        </div>
        <button id="stroop-start-btn">Iniciar Test</button>


        <div id="stroop-test" class="hidden">
            <h2 id="stroop-title" class="hidden">Test de Stroop</h2>
            <h2 id="stroop-task-title"></h2>
            <p id="stroop-instructions"></p>
            <p id="stroop-task-counter"></p>
            <button id="stroop-start-task-btn" class="hidden">Comenzar Tarea</button>
            <div id="stroop-timer" class="hidden"></div>
            <div class="stimulus" id="stroop-stimulus"></div>
            <div class="options" id="stroop-options"></div>
        </div>

        <div id="stroop-result" class="hidden"></div>
    </div>
</section>